* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./img/bg-image-daytime.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: grey;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
}

#clock {}

main {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    padding: 5rem 15rem;
}

button {
    margin-left: 1rem;
    border: transparent;
    background: none;
    font-size: 0;
}

button span {
    color: grey;
}