* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./img/bg-image-daytime.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: sepia(19%) brightness(69%);
    color: white;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.firstContainer {
    padding: 0.5rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.sentenceWrapper {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#sentence {
    font-size: 30px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detailsDays {
    font-size: 2rem;
}

#refresh {
    margin-left: 1rem;
    border: transparent;
    background: none;
    font-size: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

button span {
    color: grey;
}

.showContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show {
    border-radius: 5rem;
    background-color: white;
    border: none;
    color: black;
    padding: 2rem 5rem;
}

#clock {
    font-size: 100px;
}

.panelCurrent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
    grid-gap: 50px;
    font-size: 30px;
    color: black;
}

.item {
    padding-left: 10rem;
}

.panelCurrent h2 {
    text-transform: uppercase;
}

.panelCurrent p {
    line-height: 5rem;
}


/*.panelCurrent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.panelWeek {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}*/

.secondContainer {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(40.7742px);
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(600px);
}

.transform {
    transform: translateY(-400px);
    transition: 2s;
}

.transform2 {
    transform: translateY(0px);
    transition: 0.8s;
}